@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Red+Rose&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
    background: #e3f9ff;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}
.calculator{
    width: 350px;
    height: 550px;
    background-color: #3a4452;
    padding: 20px; 
    border-radius: 10px; 
}
.calculator input{
    border: 0;
    outline: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding: 25px;
    background: transparent;
    font-size: 30px;
    margin: 20px;
    color: #fff;
}
::placeholder{
    color: #fff;
}

.calculator button{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    margin: 7px;
    font-size: 22px;
    background-color:#3a4452 ;
    box-shadow: -6px -6px 12px rgba(255, 255, 255,0.1),3px 3px 12px rgba(0, 0, 0,0.2);
    cursor: pointer;
    color: #fff;
}
.calculator button:hover{
    background-color:rgba(255, 255, 255,0.1);
}
.calculator button:active{
    background-color:rgba(255, 255, 255,0.1);
    transform: translate(2px,2px);
}
.clear,.delete,.operator{
    color: chartreuse !important ;
}

 button.equal{
    width: 135px;
    background-color: chartreuse;
    font-size: 25px;
    font-weight: 600;
}